<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../web/css/_sidebar.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebarBtn">
        <button type="button">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="sidebar">
        <div class="sidebar-title">
            <span class="title">Menu</span>
        </div>
        
        <div class="sidebar-body">
            <div class="">
                <ul class="sidebar-links">
                    <li>
                        <a href="">Home</a>
                    </li>

                    <li>
                        <a href="">About Myself</a>
                    </li>

                    <li>
                        <a href="experience-list.php">My Experiences</a>
                    </li>

                    <li>
                        <a href="">My Projects</a>
                    </li>

                    <li>
                        <a href="my-messages.php">
                            <label for="">My Messages </label>
                            <span class="badge bg-secondary">2</span>
                        </a>
                    </li>
                    <li><a href="">My data</a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar-footer">
            <a href="#" class="sidebar-logout">Logout</a>
        </div>
    </div>
</body>
</html>