.inner-form {
    width: 35%;
    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 1%);
    padding: 0 70px;
    background: rgb(247, 247, 247);;
    border-radius: 10px;
}
.header {
    text-align: center;
    border-bottom: 1px solid;
    padding: 14px 0;
    margin: 14px 0;
}
.mb-6 {
    margin: 24px 0;
}
label {
    font-weight: 500;
}
.btn.btn-primary {
    position: relative;
    margin: 14px 0;
}

@media only screen and (max-width: 480px) {
    .inner-form {
        width: 90%;
        padding: 0 10px;
        margin-bottom: 50px;
    }
}