.messages-body {
    width: 65%;
    height: 85vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: .5px solid #ececec;
    border-radius: 10px;
    padding: 10px 30px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 5%);
}
::-webkit-scrollbar {
    display: none;
}
h4, h6 {
    position: relative;
    top: -45px;
}
.alert-success {
    max-height: 130px;
    overflow: hidden;
    
    span {
        position: relative;
        top: -20px;
    }
}
p {
    margin-top: 5px;
    font-size: 12px;
    text-align: end;
}

@media only screen and (max-width: 480px) {
    .messages-body {
        width: 90%;
        padding: 10px;
        margin-bottom: 50px;
    }
}