<section id="about" class="pt-10 overflow-hidden bg-gray-50 md:pt-0 sm:pt-16 2xl:pt-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-5xl text-2xl font-medium title-font mb-4 text-gray-900" data-aos="fade-down" >About Me</h1>
        </div>
        <div class="grid items-center grid-cols-1 md:grid-cols-2">
            <div data-aos="fade-right">
                <h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl">Hey 👋 I am
                    <br class="block sm:hidden" />Bongani K Thwala
                </h2>
                <p class="max-w-lg mt-3 text-xl leading-relaxed text-gray-600 md:mt-8">
                    Greetings! I'm Bongani Keith Thwala, a dedicated Front End Developer with a fervent passion for crafting captivating digital experiences. With a background in development, armed with HTML, CSS, JavaScript, and a dash of creativity, I specialize in bringing visions to life with pixel-perfect precision and intuitive user interfaces. Join me on this journey as we embark on a quest to shape the digital landscape one line of code at a time.
                </p>
                <div class="flex flex-wrap">
                    <a class="mt-8 xl:mt-12 px-12 py-5 text-white font-medium leading-tight inline-block bg-blue-500 rounded-full shadow-xl border border-transparent hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-sky-999 focus:ring-sky-500"
                        href="../pages/about-me.php">More about me</a>
                </div>
                <p class="mt-4 text-xl text-gray-600 md:mt-8">
                    <span class="relative inline-block">
                        <span class="absolute inline-block w-full bottom-0.5 h-2 bg-yellow-300"></span>
                        <span class="relative"> Have a question? </span>
                    </span>
                    <br class="block sm:hidden" />Ask me on <a href="#" title=""
                        class="transition-all duration-200 text-sky-500 hover:text-sky-600 hover:underline">Twitter</a>
                </p>


            </div>

            <div class="relative">
                <img class="absolute inset-x-0 bottom-0 -mb-48 -translate-x-1/2 left-1/2"
                    src="https://cdn.rareblocks.xyz/collection/celebration/images/team/1/blob-shape.svg" alt="" data-aos="fade-right" />

                <img class="relative w-full xl:max-w-lg xl:mx-auto 2xl:origin-bottom 2xl:scale-110"
                    src="./../content/images/profile2.png" alt="" data-aos="fade-right" />
            </div>

        </div>
    </div>
</section>